<!DOCTYPE html>
<html lang="en">

{% include 'layouts/head.html' %}

<body>
    <section class="container-fluid bg-info text-center d-none d-lg-block">
        <p class="fs-1 fw-bold m-0 py-3">Rate It</p>
    </section>
    
    <header class="mb-5 sticky-top">
        {% include 'layouts/header.html' %}
    </header>

    <main class="container">
        {% block content %}{% endblock content %}
    </main>

    <footer class="mt-5">
        {% include 'layouts/footer.html' %}
    </footer>
</body>

</html>