{% comment %} até aqui {% endcomment %}
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid justify-content-lg-center">
        <a class="navbar-brand p-0 me-0 d-lg-none text-info" href="{% url 'home' %}" aria-label="Bootstrap">Rate It</a>
        <button class="navbar-toggler d-lg-none"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#header_navbar"
                aria-controls="header_navbar"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas-lg offcanvas-end bg-dark" id="header_navbar">
            <div class="offcanvas-header bg-info">
                <h5 class="offcanvas-title">Menu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"  data-bs-target="#header_navbar"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav flex-lg-row">
                    <li class="nav-item mx-lg-2">
                        <a class="nav-link {% if title == 'Home' %}active{% endif %}" aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>
                    <hr class="text-secondary d-lg-none" />
                    <li class="nav-item mx-lg-2">
                        <a class="nav-link disabled">Movies</a>
                    </li>
                    <li class="nav-item mx-lg-2">
                        <a class="nav-link disabled">Musics</a>
                    </li>
                    <li class="nav-item mx-lg-2">
                        <a class="nav-link disabled">Books</a>
                    </li>
                    <li class="nav-item mx-lg-2">
                        <a class="nav-link disabled">Games</a>
                    </li>
                    <hr class="text-secondary d-lg-none" />
                    <li class="nav-item mx-lg-2">
                        <a class="nav-link {% if title == 'About' %}active{% endif %}" aria-current="page" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item mx-lg-2">
                        <a class="nav-link {% if title == 'Contact' %}active{% endif %}" aria-current="page" href="{% url 'contact' %}">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

{% if messages %}
    {% for message in messages %}
        <div{% if message.tags %} class="alert alert-dismissible fade show {{ message.tags }}" role="alert"{% endif %}>
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}