main {
    min-height: 50vh;
}

.rating {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
}

.rating input {
    position: relative;
    width: 10px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    overflow: hidden;
}

.rating input::before {
    content: '☆';
    color: rgb(108, 117, 125);
    position: absolute;
    font-size: 20px;
    left: 2px;
}

.rating input:nth-child(2n + 1)::before {
    right: 2px;
    left: initial;
}

.rating input:not(:checked):hover~input::before,
.rating input:not(:checked):hover::before {
    content: '★';
    color: rgb(108, 117, 125);
}

.rating input:checked~input::before,
.rating input:checked::before {
    content: '★';
    color: rgb(13, 202, 240);
}