<div class="col-12 col-lg-3">
    <p class="fs-5 text-decoration-underline">{{ area_title }}</p>
    <div class="rating">
        <input type="radio" name="movie" id="" value="10">
        <input type="radio" name="movie" id="" value="9">
        <input type="radio" name="movie" id="" value="8">
        <input type="radio" name="movie" id="" value="7">
        <input type="radio" name="movie" id="" value="6">
        <input type="radio" name="movie" id="" value="5">
        <input type="radio" name="movie" id="" value="4">
        <input type="radio" name="movie" id="" value="3">
        <input type="radio" name="movie" id="" value="2">
        <input type="radio" name="movie" id="" value="1">
    </div>
</div>