{% extends 'layouts/base.html' %}

{% block content %}
<article>
    <p class="fs-4">About</p>
    <hr />
    
    <p>For those who loves entertainment, <span class="text-info fw-bold">Rate It</span> was created with the purpose to share opinions about different entertainment branches and rank for you the top rated of each class.</p>
    <p>Even being an afictionated book reader, a compulsive music listener or a cinematic passionate, feel free for choosing your favorite titles and rate them!</p>
    <p>We have the only purpose to make here a <span class="fst-italic">vox populi</span> about entertainment and not doing propaganda or earning money by marketing.</p>
    <p>If you have any sugestion/question or want to report bugs, feel free for contact our administrators thought the <span class="fw-bold">Contact</span> area on the menu bar.</p>
    <p><span class="fw-bold">Important!</span> Don't forget to share this website in your social networks and messengers for everybody to help us having a high number of ratings and realy make sense of these entertainment lists</p>
</article>    
{% endblock content %}