{% extends 'layouts/base.html' %}

{% block content %}
<article>
    <p class="fs-4">Top 5 Entertainments</p>
    <hr />

    <div class="row">
        <div class="col-12 col-lg-4">
            <p class="fs-5 text-decoration-underline">Movies</p>
            <div class="rating">
                <input type="radio" name="movie" id="" value="10">
                <input type="radio" name="movie" id="" value="9">
                <input type="radio" name="movie" id="" value="8">
                <input type="radio" name="movie" id="" value="7">
                <input type="radio" name="movie" id="" value="6">
                <input type="radio" name="movie" id="" value="5">
                <input type="radio" name="movie" id="" value="4">
                <input type="radio" name="movie" id="" value="3">
                <input type="radio" name="movie" id="" value="2">
                <input type="radio" name="movie" id="" value="1">
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <p class="fs-5 text-decoration-underline">Musics</p>
            <div class="rating">
                <input type="radio" name="music" id="" value="10">
                <input type="radio" name="music" id="" value="9">
                <input type="radio" name="music" id="" value="8">
                <input type="radio" name="music" id="" value="7">
                <input type="radio" name="music" id="" value="6">
                <input type="radio" name="music" id="" value="5">
                <input type="radio" name="music" id="" value="4">
                <input type="radio" name="music" id="" value="3">
                <input type="radio" name="music" id="" value="2">
                <input type="radio" name="music" id="" value="1">
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <p class="fs-5 text-decoration-underline">Books</p>
            <div class="rating">
                <input type="radio" name="book" id="" value="10">
                <input type="radio" name="book" id="" value="9">
                <input type="radio" name="book" id="" value="8">
                <input type="radio" name="book" id="" value="7">
                <input type="radio" name="book" id="" value="6">
                <input type="radio" name="book" id="" value="5">
                <input type="radio" name="book" id="" value="4">
                <input type="radio" name="book" id="" value="3">
                <input type="radio" name="book" id="" value="2">
                <input type="radio" name="book" id="" value="1">
            </div>
        </div>
    </div>
</article>
{% endblock content %}