{% extends 'layouts/base.html' %}

{% block content %}
<article>
    <p class="fs-4">Top 5 Entertainments</p>
    <hr />

    <div class="row">
        {% include 'layouts/elements/rating_stars.html' with area_title="Movies" %}
        {% include 'layouts/elements/rating_stars.html' with area_title="Musics" %}
        {% include 'layouts/elements/rating_stars.html' with area_title="Books" %}
        {% include 'layouts/elements/rating_stars.html' with area_title="Games" %}
    </div>
</article>
{% endblock content %}